.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 8%;
  background: #fff;
}

.textContainer {
  flex: 1;
  padding-right: 2rem;
}

.textContainer h3 {
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.textContainer h4 {
  color: #666;
  margin-bottom: 1rem;
}

.textContainer p {
  color: #444;
  line-height: 1.6;
  margin-bottom: 2rem;
}


.imageContainer {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.phoneImage {
  z-index: 2;
  transform: translateX(15px);
}

.phoneImageSecondary {
  position: absolute;
  right: 0;
  opacity: 0.3;
  transform: translateX(-30px);
  z-index: 1;
}

.ctaButtons {
  display: flex;
  gap: 1rem;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .imageContainer {
    display: none;
  }
  .ctaButtons {
    justify-content: space-between;
  }
}