.techItem {
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.techList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}
.divider {
  border-top: 1px solid #eee;
  margin-bottom: 1rem;
  margin-top: .2rem;
}

.resume {
  font-size: 1rem;
}
